:root {
    --safe-green: #00e676;
    --danger-red: #ff5252;
    --bg-dark: #0f172a;
}

body {
    background: var(--bg-dark);
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 340px;
    background: #1e293b;
    padding: 25px;
    border-radius: 30px;
    border: 1px solid #334155;
}

#safety-badge {
    font-size: 10px;
    background: rgba(0, 230, 118, 0.2);
    color: var(--safe-green);
    padding: 4px 10px;
    border-radius: 20px;
    display: inline-block;
}

.battery-outer {
    width: 120px;
    height: 200px;
    border: 3px solid #475569;
    margin: 20px auto;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.charge-fill {
    width: 100%;
    background: linear-gradient(to top, #38bdf8, #818cf8);
    position: absolute;
    bottom: 0;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.realtime-data {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.data-box {
    flex: 1;
    background: #0f172a;
    padding: 10px;
    border-radius: 12px;
}

#mainBtn {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background: #38bdf8;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
